.mystyle {
    border-collapse: collapse;
  }

.mystyle thead {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
  }

.mystyle th, .mystyle td {
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid black;
  }